<form action='/add_bookmarks' method='POST'>
  <input type='text' value='new bookmark url' name='url'>
  <input type='submit' value='Submit'>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

