<form action='/add_bookmarks' method='POST'>
  <input type='text' name='title'>
  <input type='text' name='url'>
  <input type='submit' value='Submit'>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <a href=<%= bookmark['url'] %>>
    <%= bookmark['title'] %>
    </a>
    </li>
  <% end %>
</ul>

<a href="url">link text</a>
